In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./datasets/train.csv')
test = pd.read_csv('./datasets/test.csv')

In [3]:
# Checking for incorrect data types
df.dtypes

Id                  int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
                   ...
Half Bath           int64
Bedroom AbvGr       int64
Kitchen AbvGr       int64
Kitchen Qual       object
TotRms AbvGrd       int64
Functional         object
Fireplaces          int64
Fireplace Qu       object
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Cars       float64
Garage Area       float64
Garage Qual        object
Garage Cond        object
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Enclosed Porch      int64
3Ssn Porch          int64
Screen Porch        int64
Pool Area           int64
Pool QC            object
Fence              object
Misc Feature       object
Misc Val            int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
SalePrice           int64
Length: 81, dtype: object

In [4]:
df.shape

(2051, 81)

In [5]:
# Checking for nulls
df.isnull().sum().sort_values().tail(30)

Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Overall Cond         0
BsmtFin SF 1         1
Total Bsmt SF        1
BsmtFin SF 2         1
Bsmt Unf SF          1
Garage Area          1
Garage Cars          1
Bsmt Full Bath       2
Bsmt Half Bath       2
Mas Vnr Area        22
Mas Vnr Type        22
Bsmt Qual           55
Bsmt Cond           55
BsmtFin Type 1      55
BsmtFin Type 2      56
Bsmt Exposure       58
Garage Type        113
Garage Yr Blt      114
Garage Qual        114
Garage Cond        114
Garage Finish      114
Lot Frontage       330
Fireplace Qu      1000
Fence             1651
Alley             1911
Misc Feature      1986
Pool QC           2042
dtype: int64

In [6]:
# Looking at NaN values for Lot Frontage
df[df['Lot Frontage'].isnull()].head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
7,145,535154050,20,RL,NaN,12160,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,5,2010,COD,142000
8,1942,535353130,20,RL,NaN,15783,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,6,2007,WD,112500
23,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,185000
27,1534,909277040,50,RL,NaN,11700,Pave,Grvl,IR1,HLS,...,0,0,NaN,NaN,NaN,0,7,2008,WD,198000

In [7]:
# Replacing NaNs with 0's for Lot Frontage
df['Lot Frontage'].fillna(0, inplace=True)

In [8]:
# Checking if NaN for full bath correspond with having a basement
df[df['Bsmt Full Bath'].isnull()]['Bsmt Cond'].head()

616     NaN
1327    NaN
Name: Bsmt Cond, dtype: object

In [9]:
# Replacing NaNs with 0's for Bsmt Full Bath
df['Bsmt Full Bath'].fillna(0, inplace=True)

In [10]:
# Checking if NaN for half bath correspond with having a basement
df[df['Bsmt Half Bath'].isnull()]['Bsmt Cond'].head()

616     NaN
1327    NaN
Name: Bsmt Cond, dtype: object

In [11]:
# Replacing NaNs with 0's for Bsmt Half Bath
df['Bsmt Half Bath'].fillna(0, inplace=True)

In [12]:
# Checking if NaN for Bsmt Unf SF correspond with having a basement
df[df['Bsmt Unf SF'].isnull()]['Bsmt Cond'].head()

1327    NaN
Name: Bsmt Cond, dtype: object

In [13]:
# Replacing NaNs with 0's for Bsmt Unf SF
df['Bsmt Unf SF'].fillna(0, inplace=True)

In [14]:
# Checking if NaN for Bsmt SF 1 correspond with having a basement
df[df['BsmtFin SF 1'].isnull()]['Bsmt Cond'].head()

1327    NaN
Name: Bsmt Cond, dtype: object

In [15]:
# Replacing NaNs with 0's for Bsmt SF 1
df['BsmtFin SF 1'].fillna(0, inplace=True)

In [16]:
# Checking if NaN for Bsmt SF 2 correspond with having a basement
df[df['BsmtFin SF 2'].isnull()]['Bsmt Cond'].head()

1327    NaN
Name: Bsmt Cond, dtype: object

In [17]:
# Replacing NaNs with 0's for Bsmt SF 2
df['BsmtFin SF 2'].fillna(0, inplace=True)

In [18]:
# Checking if NaN for BsmtFin Type 1 correspond with having a basement
df[df['BsmtFin Type 1'].isnull()]['Bsmt Cond'].head()

12     NaN
93     NaN
114    NaN
146    NaN
183    NaN
Name: Bsmt Cond, dtype: object

In [19]:
# Replacing NaNs with None for BsmtFin Type 1
df['BsmtFin Type 1'].fillna('None', inplace=True)

In [20]:
# Checking if NaN for BsmtFin Type 2 correspond with having a basement
df[df['BsmtFin Type 2'].isnull()]['Bsmt Cond'].head()

12     NaN
93     NaN
114    NaN
146    NaN
183    NaN
Name: Bsmt Cond, dtype: object

In [21]:
# Replacing NaNs with NA for BsmtFin Type 2
df['BsmtFin Type 2'].fillna('None', inplace=True)

In [22]:
# Checking if NaN for Total Bsmt SF correspond with having a basement
df[df['Total Bsmt SF'].isnull()]['Bsmt Cond'].head()

1327    NaN
Name: Bsmt Cond, dtype: object

In [23]:
# Replacing NaNs with 0's for Total Bsmt SF
df['Total Bsmt SF'].fillna(0, inplace=True)

In [24]:
# Checking if NaN for Bsmt Exposure correspond with having a basement
df[df['Bsmt Exposure'].isnull()]['Bsmt Cond'].head()

12     NaN
93     NaN
114    NaN
146    NaN
183    NaN
Name: Bsmt Cond, dtype: object

In [25]:
# Replacing NaNs with NA's for Bsmt Exposure
df['Bsmt Exposure'].fillna('None', inplace=True)

In [26]:
# Checking if NaN for Garage Area correspond with having a garage
df[df['Garage Area'].isnull()]['Garage Type'].head()

1712    Detchd
Name: Garage Type, dtype: object

In [27]:
# Average SF of Detached Garage
detchd_sf = df[df['Garage Type']=='Detchd']['Garage Area'].mean()

In [28]:
# Replacing NaNs with mean for Detached Garages
df['Garage Area'].fillna(detchd_sf, inplace=True)

In [29]:
# Checking if NaN for Garage cars correspond with having a garage
df[df['Garage Cars'].isnull()]['Garage Type'].head()

1712    Detchd
Name: Garage Type, dtype: object

In [30]:
# Average Cars of Detached Garage
detchd_cars = df[df['Garage Type']=='Detchd']['Garage Cars'].mean()

In [31]:
# Replacing NaNs with mean for Detached Cars
df['Garage Cars'].fillna(detchd_cars, inplace=True)

In [32]:
# Lists of columns with nulls sorted by str and num
string_null_list = ['Pool QC', 'Misc Feature', 'Alley', 'Fence',
                   'Fireplace Qu', 'Garage Finish', 'Garage Cond',
                   'Garage Qual','Garage Type', 'BsmtFin Type 1',
                    'BsmtFin Type 2', 'Bsmt Cond', 'Bsmt Qual',
                   'Mas Vnr Type']
numer_null_list = ['Garage Yr Blt', 'Mas Vnr Area']

In [33]:
# Replacing NaN with NA string
[df[i].fillna('None', inplace=True) for i in string_null_list];

In [34]:
# Replacing NaN with 0
[df[i].fillna(0, inplace=True) for i in numer_null_list];

In [35]:
# Checking for any remaining nulls
max(df.isnull().sum())

0

In [37]:
df.to_csv('./datasets/cleaned_train')